body{
    width: 100vw;
    height: 100vh;
    margin-right: 0;
}
.upper_menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid lightgreen;
    width: 100%; 
    height: 88px;
    color: #80949f;
}
.upper_menu-left .burger, .upper_menu-right .divider{
    margin-left: 1px;
}
.upper_menu-right .divider{
    margin-left: -150px;
}
.upper_menu div{
    display: flex;
}
.upper_menu div div{
    margin: 0 10px;
}
.burger, .repair, .checkstatus, .call {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FF3E79;
}
.icon-uslugi, .upper_menu-right .call, .upper_menu-right .chat, .upper_menu-right .profile, .upper_menu-right .checkstatus-status-remonta, .upper_menu-right .repair-ostavit-zayavku, .upper_menu-left .divider1, .mi768, .mi1120{
    display: none;
}
.container-two {
    background-color: #F8F8F8;
    width: 100vw; 
    height: 100vh;
}
h1 {
    border-left: 6px solid #41f6d7;
    width: 100%; 
    height: 40px;
    margin: 0;
    margin-left: -10px;
    padding: 10px;
}
.maintxt {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
button {
    color: #7e7e82;
    background-color: #F8F8F8;
    border: none;
    font-size: 15px;
    width: 100%;
    height: 40px;
}
button:hover {
    border: 3px solid #b8ffec;
    border-radius: 6px;
    font-size: 15px;
    width: 100%; 
    height: 40px;
}
h3 {
    margin-right: 5px;
    width: 132px;
    height: 24px;
    margin-top: 10px;
}
.mi {
    width: 100%; 
    height: 90px;
    padding: 10px;
    margin-top: 10px;
}
.secondmain {
    width: 100%; 
    height: auto;
}
.cps-img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
@media(min-width: 768px) and (max-width:1120px) {
    .icon-uslugi{
        display: none;
    }
    .upper_menu {
        width: 100%;
        height: 88px;
        gap: 10px;
        justify-content: space-between;
    }
    .upper_menu-right div{
        display: flex;
        gap: 20px;
    }
    .upper_menu-right .call{
        display: flex;
        order: 1;
        margin-left: 270px;
    }
    .upper_menu-right .chat{
        display: flex;
        order: 2;
        margin-left: 20px;
        margin-right: 20px;
    }
    .upper_menu-right .profile{
        display: flex;
        order: 3;
        margin-left: 0;
        margin-right: 170px;
    }
    .upper_menu-right .divider{
        order: 4;
    }
    .upper_menu-right .repair{
        order: 5;
    }
    .upper_menu-right .checkstatus{
        order: 6;
    }
    h1{
    padding-top: 35px;
    }
    .maintxt {
        width: 100%;
        gap: 10px;
        padding: 30px;
        padding-left: 20px;
   }

    button {
      width: 48%;
    }

    .secondmain {
        display: flex;
        flex-direction: column;
    }

    .mi {
        width: 290px;
    }
    .mi768{
        display: flex;
        width: 320px;
        padding: 10px;
        padding-top: 20px;
    }

    .cps-img {
        width: 50%;
        height: auto;
    }
    .secondmain{
    position: relative;
    }
    .secondmain .cps-img{
    position: absolute;
    left: 400px;
    padding-right: 0;
    }
}

@media (min-width: 1120px) {
   .upper_menu, .mi768{
        display: none;
    }
    .repair-ostavit-zayavku, .checkstatus-status-remonta, .mi1120{
        display: flex;
    }
    .maintxt {
        width:100%;
        height: auto;
    }
    .mi1120{
        width: 490px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    button {
        width: 48%;
    }

    .mi {
        width: 48%;
        
    }

    .cps-img {
        width: 85%;
    }
    .secondmain{
        margin-top: 0;
        justify-content: space-between;
        position: relative;
        }
        .secondmain .cps-img{
        position: absolute;
        left: 700px;
        padding-right: 0;
        }
        .icon-uslugi{
            display: flex;
            gap: 20px;
        }
        .repair-ostavit-zayavku, .checkstatus-status-remonta{
            display:  flex;
            align-items: center;
        }
        .icon-uslugi .repair, .checkstatus{
            margin-left: 400px;
            margin-top: 20px;
        }
        .icon-uslugi .checkstatus{
            margin-right: 0;
            margin-left: 0;
        }
        
}
