.left-side-menu{
 width: 320px;
  height: 100vh; 
  position: absolute; 
  left: 30px; 
  top: 0; 
  left: 0;
  box-shadow: 5px 0px 100px gray;
}
.remont{
    margin-top: 50px;
    padding-left: 30px;
}
.upper-menu{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.ic-search{
    padding-left: 50px;
}
.maintxt{
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 120px;
}
.remont:hover, .uslugi:hover, .korporativnim:hover, .prodovtsam:hover, .partneram:hover, .proizvoditelyam:hover, .nashi:hover, .contacti:hover{
    color: gray;
    border-left: 3px solid #41f6d7;

}
.uslugi, .korporativnim, .prodovtsam, .partneram, .proizvoditelyam, .nashi, .contacti{
    margin-top: 30px;
    padding-left: 30px;
}
.footer-ic{
   display: flex;
    margin-bottom: 10px;
}
.ic-call, .chat, .profile{
    margin-left: 20px;
}
.ic-call{
    color: white;
    background-color: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.email{
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.number{
    font-size: 30px;
    font-weight: 559;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ru, .en, .ch{
    margin-top: 50px;
    margin-left: 20px;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ru:hover, .en:hover, .ch:hover{
    color: gray;
}